//
//  EnvironmentVariables.xcconfig
//  LostArchiveTV
//
//  Created by PJ Gray on 4/27/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPENAI_API_KEY = ""
PINECONE_API_KEY = ""
PINECONE_HOST = ""
